* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    background-image:-webkit-linear-gradient(120deg, rgb(1, 196, 255), rgb(0, 75, 161));
}
main{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;  
}

.container_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:-webkit-linear-gradient(120deg, rgb(0, 80, 104), rgb(1, 51, 121));
    height: 450px;
    width: 320px;
    border: 2px solid rgb(0, 200, 255);
    border-radius: 20px;
    gap: 10PX;
}
.container_login label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-size: 1.1rem;
    margin-top: 20px;
}
#img_login{
height: 60px;
width: 60px;
top: 0;
}
#senha a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    color: aliceblue;
    text-decoration: none;
}
#btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 10px;
    height: 30px;
    width:90px;
    background-image:-webkit-linear-gradient(120deg, rgb(1, 196, 255), rgb(0, 75, 161));
    color:white;
    cursor:pointer;
    transition: 0.5s;
}
#btn:hover{
    scale: 1.04;
    color: rgb(0, 109, 205);
    background-image:-webkit-linear-gradient(120deg, rgb(255, 255, 255), rgb(183, 183, 183));
}
.notificacao{
    display: none;
    height: 60px;
    width: 50vw;
    background-color: rgb(0, 179, 125);
    margin-top: 50px;
    border-radius: 15px;
}
