* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: -webkit-linear-gradient(120deg, rgb(1, 196, 255), rgb(0, 75, 161));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_perfil{
    background:-webkit-linear-gradient(20deg, rgb(0, 203, 218), rgb(0, 218, 218));
    box-shadow: 4px 4px 80px rgba(0, 0, 0, 0.418);
    color: rgb(0, 0, 0);
    height: 450px;
    width: 450px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 10px;
}
label, p{
    color: white;
    font-family: 'Mulish', sans-serif;
}
input{
    outline: 0;
    border: 0;
    padding: 3px;
    border-radius: 50px;
    width: 300px;
    height: 20px;
}
.btn{
    background-color: aquamarine;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Mulish', sans-serif;
    transition: 0.4s;
}
.btn:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    scale: 1.1;
    cursor: pointer;
    
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}